<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-6 text-end social-media-icons">
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="ms-3 fs-5"><i class="fab fa-{{ item.icon }}"></i></a>
      {% endfor %}
      <a href="https://scholar.google.com/citations?user=lYcJXqoAAAAJ" class="ms-3 fs-5"><img src="{{ site.github.url }}/assets/img/googlescholar.svg" alt="Google Scholar link" style="width:22px;height:22px;"></a>
    </div>
  </div>
</footer>
