<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-5 border-bottom">
  <div>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <span class="fs-4 fw-bold">{{ site.title }}</span>
    </a>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <span>{{ site.description }}</span>
    </a>
  </div>
  <!-- <div class="col-md-6 text-end social-media-icons"> -->
  <div class="d-inline-flex social-media-icons">
    <a href="https://bsky.app/profile/krivachytamas.bsky.social" class="ms-3 fs-5"><img src="{{ site.github.url }}/assets/img/Bluesky_Logo_Black.svg" alt="bsky link" style="width:22px;height:22px;"></a>
    <a href="https://x.com/KrivachyTamas" class="ms-3 fs-5"><img src="{{ site.github.url }}/assets/img/X_logo_2023_original.svg" alt="X link" style="width:22px;height:22px;"></a>
    {% for item in site.data.settings.social %}
      <a href="{{ item.link }}" class="ms-3 fs-5"><i class="fab fa-{{ item.icon }}"></i></a>
    {% endfor %}
    <a href="https://orcid.org/0000-0003-3668-3459" class="ms-3 fs-5"><img src="{{ site.github.url }}/assets/img/orcid-icon-original.svg" alt="Orcid ID link" style="width:22px;height:22px;"></a>
    <a href="https://scholar.google.com/citations?user=lYcJXqoAAAAJ" class="ms-3 fs-5"><img src="{{ site.github.url }}/assets/img/googlescholar.svg" alt="Google Scholar link" style="width:22px;height:22px;"></a>
  </div>
  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    {% for item in site.data.settings.menu %}
      <a class="me-3 py-2 text-decoration-none" href="{{ site.github.url }}{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
</header>
