---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Science outreach and teaching</h3>
    {% for course in site.data.settings.courses %}
      <p><a href="{{ course.link}}">{{ course.name }}</a></p>
    {% endfor %}
  </div>
</div>

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Supervised students</h3>
    {% for student in site.data.settings.supervision %}
      <p>{{ student.name }}, {{student.location}}, {{student.type}} ({{student.year}})</p>
    {% endfor %}
  </div>
</div>
